:root {
  --violet: hsl(277, 64%, 61%);
  --card-background: hsl(244, 38%, 16%);
  --main-background: hsl(233, 47%, 7%);
  --white: hsl(0, 0%, 100%);
  --font-color-paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-header-color: hsla(0, 0%, 100%, 0.6);
}
* {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
  background-color: var(--main-background);
  font: size 1.5rem;
  padding: 2rem;
}

.container {
  position: relative;
  width: clamp(1440px, 80%, 370px);
  margin: 0;
  color: var(--font-color-paragraph);
}

.img_div {
  background: var(--violet);
}

.img_div img {
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  position: relative;
  opacity: 0.7;
}

.container .box {
  width: clamp(375px, 50%, 1440px);
  width: calc(600px - 50px);
  height: calc(400 - 50);
  background-color: var(--card-background);
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

h1 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  margin: 50px;
}

p {
  color: var(--font-color-paragraph);
  font-family: "main-paragraph-font", Arial, Helvetica, sans-serif;
  line-height: 25px;
  position: relative;
  left: 50px;
}
.stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px;
  color: var(--white);
}
.stats_header {
  color: var(--white);
  font-family: "stats-heading-font", Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.stats_info {
  color: var(--stats-header-color);
  font-family: "stat-number-font", Arial, Helvetica, sans-serif;
  font-size: 10px;
}
