:root {
  font-weight:400;
  font-family: "Lexend Deca", sans-serif;
  --violet: hsl(277, 64%, 61%);
  --card-background: hsl(244, 38%, 16%);
  --main-background: hsl(233, 47%, 7%);
  --white: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-header-color: hsla(0, 0%, 100%, 0.6);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  min-height:100vh;
  background-color: var(--main-background);
  margin:0;
  color: var(--paragraph);
}

.hero {
  border-radius: 15px;
  padding:4rem;
}

.container {
  margin:0 auto;
  width: 80%;
  max-width:55rem;
  
}

.row {
  display:flex;
  flex-direction:column;
}

.img-section {
  width:100%;
  background: var(--violet);
  border-radius: 15px 15px 0px 0px;
}

.img-section picture > * {
  max-width: 100%;
  opacity: 0.7;
  border-radius: 15px 15px 0px 0px;

}

.card {
  width:100%;
  /* padding: 2rem; */
  gap:10px;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--card-background);
  font-size: 1.5em;
}

.row {
  display:flex;
  flex-direction: column;
}

h2 {
  margin: 1rem 0 0 .5rem;
  padding:2rem;
  font-family: "Inter", sans-serif;
  font-weight:700;
  color: var(--white);
}

span {
  color:var(--violet);
}

p {
  padding:2em;
  color: var(--paragraph);
  opacity:0.7;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items:center;
  color: var(--white);
}
.stats_header {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
  font-weight:700;
  margin-bottom:0.5rem;
}
.stats_info {
  color: var(--stats-header-color);
  font-size:0.7em;
  margin-bottom:1rem;
}

@media screen and (min-width:750px) {
  
  .container {
    width:fit-content;
    justify-content:center;
  }
  
  .row {
    flex-direction: row;
    align-items: center;
  }

  .img-section {
    order:2;
    width:100%;
    height:40rem;
    border-radius:0px;
  }
  
  .img-section picture img{
    max-width:100%;
    height:40rem;

  }
  .card{
    order:1;
    max-width:100%;
    border-radius:0px;

  }
  .stats {
    flex-direction:row;
    width:fit-content;
  }
}
