:root {
  --violet: hsl(277, 64%, 61%);
  --card-background: hsl(244, 38%, 16%);
  --main-background: hsl(233, 47%, 7%);
  --white: hsl(0, 0%, 100%);
  --font-color-paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-header-color: hsla(0, 0%, 100%, 0.6);
}
.attribution {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: var(--white);
  font-size: 1rem;
}
.attribution a {
  color: var(--violet);
  text-decoration: none;
}

body {
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-weight: 400;
  background-color: var(--main-background);
  font: size 1.5rem;
  padding: 2rem;
  position: relative;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0;
  color: var(--font-color-paragraph);
}
.container .box {
  width: clamp(375px, 50%, 1440px);
  width: calc(600px - 50px);
  height: calc(400 - 50);
  background-color: var(--card-background);
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

h1 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  margin: 5px auto;
}
img {
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--violet);
  mix-blend-mode: normal;
  position: relative;
  width: 400px;
  height: 400px;
}
span {
  color: var(--violet);
}
p {
  color: var(--font-color-paragraph);
  font-family: "main-paragraph-font", Arial, Helvetica, sans-serif;
  line-height: 1.6 em;
  position: relative;
  left: 50px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  margin: 0;
  color: var(--white);
}
.stats_header {
  color: var(--white);
  font-family: "stats-heading-font", Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.stats_info {
  color: var(--stats-header-color);
  font-family: "stat-number-font", Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0 auto;
}
